<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Starts -->
    <title>RestoMantap</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RestoMantap adalah website yang memberikan informasi mengenai berbagai macam restoran yang mantap">
    <meta name="author" content="Bryan Yehuda Mannuel">
    <meta name="theme-color" content="#D83A56" />
    <!-- Meta Ends -->

    <!-- Link Starts -->
    <link rel="icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/icon/logo.png">
    <link rel="shortcut icon" href="./images/icon/logo.png">
    <link rel="shortcut icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;900&display=swap" rel="stylesheet">
    <!-- Link Ends -->
</head>

<body>

    <!-- Header Starts -->
    <header>

        <nav>
            <div class="wrapper">
                <div><img src="./images/icon/logocropped.png" alt="Logo RestoMantap" class="logo-image"></div>
                <div></div>
                <div class="nav-link"><a href="index.html">Home</a></div>
                <div class="nav-link"><a href="#">Favorite</a></div>
                <div class="nav-link"><a href="https://github.com/BryanYehuda">About Us</a></div>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>RestoMantap <br>Pastinya Mantap!</h1>
            <a class="btn btn-full" href="#">Cari Restoran Sekarang!</a>
            <a class="btn btn-ghost" href="#">Restoran Favorit</a>
        </div>
    </header>
    <!-- Header Ends -->

    <h2>RestoMantap Memberikan List Restoran Termantap di dunia</h2>

    <footer>
        <p>2021, Bryan Yehuda's Submission for Asia University Winter Course</p>
    </footer>

</body>

</html>