<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Starts -->
    <title>RestoMantap</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RestoMantap adalah website yang memberikan informasi mengenai berbagai macam restoran yang mantap">
    <meta name="author" content="Bryan Yehuda Mannuel">
    <meta name="theme-color" content="#D83A56" />
    <!-- Meta Ends -->

    <!-- Link Starts -->
    <link rel="icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/icon/logo.png">
    <link rel="shortcut icon" href="./images/icon/logo.png">
    <link rel="shortcut icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;900&display=swap" rel="stylesheet">
    <!-- Link Ends -->
</head>

<body>

    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <!-- Header Starts -->
    <header>
        <a id="menu" class="off-canvas" href="#">☰</a>
        <nav id="drawer" class="nav">
            <div id="wrapperid" class="wrapper">
                <div><img src="./images/icon/logocropped.png" alt="Logo RestoMantap" class="logo-image"></div>
                <div></div>
                <div class="nav-link"><a href="index.html">Home</a></div>
                <div class="nav-link"><a href="#">Favorite</a></div>
                <div class="nav-link"><a href="https://github.com/BryanYehuda">About Us</a></div>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>RestoMantap <br>Pastinya Mantap!</h1>
            <a class="btn btn-full" href="#headline">Cari Restoran Sekarang!</a>
            <a class="btn btn-ghost" href="#">Restoran Favorit</a>
        </div>
    </header>
    <!-- Header Ends -->

    <main>
        <!-- Headline Starts -->
        <section class="headline" id="headline">
            <h2>RestoMantap Memberikan List Restoran Termantap Se-Indonesia</h2>
        </section>
        <!-- Headline Ends -->

        <!-- Content Starts -->
        <section class="content">

            <!-- Bring Your Phone Starts -->
            <article class="content-item 6c7bqjgi84kcowlqdz" id="maincontent">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Gambar Restoran Bring Your Phone Cafe">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.6</div>
                        <div class="content-location">Lokasi : Medan</div>
                    </p>
                    <h3 class="content-title">Bring Your Phone Cafe</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Bring Your Phone Ends -->

            <!-- Run The Gun Starts -->
            <article class="content-item ljx8i0qu2uckcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Gambar Restoran Run The Gun">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.6</div>
                        <div class="content-location">Lokasi : Bali</div>
                    </p>
                    <h3 class="content-title">Run The Gun</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Run The Gun Ends -->

            <!-- Pangsit Express Starts -->
            <article class="content-item fe8bbxoazddkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="Gambar Restoran Pangsit Express">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.8</div>
                        <div class="content-location">Lokasi : Ternate</div>
                    </p>
                    <h3 class="content-title">Pangsit Express</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Pangsit Express Ends -->

            <!-- Ducky Duck Starts -->
            <article class="content-item ik1zljmlf68kcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="Gambar Restoran Ducky Duck">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.7</div>
                        <div class="content-location">Lokasi : Malang</div>
                    </p>
                    <h3 class="content-title">Ducky Duck</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- Ducky Duck Ends -->

            <!-- Kafein Starts -->
            <article class="content-item 9jpuzkm6n6jkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="Gambar Restoran Kafein">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 3.8</div>
                        <div class="content-location">Lokasi : Bali</div>
                    </p>
                    <h3 class="content-title">Kafein</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Kafein Ends -->

            <!-- Makan mudah Starts -->
            <article class="content-item cpl5jpsnuqkkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="Gambar Restoran Makan Mudah">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.6</div>
                        <div class="content-location">Lokasi : Malang</div>
                    </p>
                    <h3 class="content-title">Makan Mudah</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Makan mudah Ends -->

            <!-- Saya Suka Starts -->
            <article class="content-item iqtf9hmdzvbkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="Gambar Restoran Saya Suka">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 3.6</div>
                        <div class="content-location">Lokasi : Surabaya</div>
                    </p>
                    <h3 class="content-title">Saya Suka</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- Saya Suka Ends -->

            <!-- Gigitan Cepat Starts -->
            <article class="content-item 8i06gqcc2dpkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="Gambar Restoran Gigitan Cepat">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4</div>
                        <div class="content-location">Lokasi : Aceh</div>
                    </p>
                    <h3 class="content-title">Gigitan Cepat</h3>
                    <p class="content-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet.</p>
                </div>
            </article>
            <!-- Gigitan Cepat Ends -->

            <!-- Fairy Cafe Starts -->
            <article class="content-item wf5o19xhxxkcowlqdz">
                <img class="content-thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="Gambar Restoran Fairy Cafe">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 3.9</div>
                        <div class="content-location">Lokasi : Malang</div>
                    </p>
                    <h3 class="content-title">Fairy Cafe</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- Fairy Cafe Ends -->

            <!-- Ikan Bakar Bakar Starts -->
            <article class="content-item 19xhxxkcowlqdz">
                <img class="content-thumbnail" src="https://www-cdn.pawoon.com/wp-content/uploads/2019/10/08091405/1-1024x675.jpg" alt="Gambar Restoran Ikan Bakar Bakar">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.9</div>
                        <div class="content-location">Lokasi : Surabaya</div>
                    </p>
                    <h3 class="content-title">Ikan Bakar Bakar</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- Ikan Bakar Bakar Ends -->

            <!-- Modernation Starts -->
            <article class="content-item wf5o19xhxxkco">
                <img class="content-thumbnail" src="https://grahamultisarana.com/data/uploads/2018/05/resto-00.jpg" alt="Gambar Restoran Modernation">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.3</div>
                        <div class="content-location">Lokasi : Jakarta</div>
                    </p>
                    <h3 class="content-title">Modernation</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- Modernation Ends -->

            <!-- High Society Starts -->
            <article class="content-item wf5o19cowlqdz">
                <img class="content-thumbnail" src="https://akcdn.detik.net.id/visual/2015/03/30/a7a708fe-2f73-41a0-82d8-5c89d1525197_169.jpg?w=650" alt="Gambar Restoran High Society">
                <div class="content-paragraph">
                    <p>
                        <div class="content-rating">Rating : 4.6</div>
                        <div class="content-location">Lokasi : Bandung</div>
                    </p>
                    <h3 class="content-title">High Society</h3>
                    <p class="content-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </article>
            <!-- High Society Ends -->

        </section>
        <!-- Content Ends -->

    </main>


    <!-- Footer Starts -->
    <footer>
        <p>© 2021 Bryan Yehuda Mannuel - RestoMantap</p>
    </footer>
    <!-- Footer Ends -->

</body>

</html>